@{
    ViewData["Title"] = "Detalhes da aplicação";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<div style="vertical-align:middle;" class="text-center">
    <div style="margin-top:80px">
        <h1>Licenciatura em Engenharia Informática</h1>
        <h2>Desenvolvimento Web - 2º Ano</h2>
    </div>
    <div>
        <br />
        <span>Aplicação criada por:</span><br/>
        <span>Eduardo Gomes - N.º 23032</span><br/><br/>
        <span>Bibliotecas e frameworks utilizadas:</span><br/>
        <span>ASP.NET Identity</span><br/>
        <span>Bootstrap</span><br/>
        <span>Cookies</span><br/>
        <span>Data Annotations</span><br/>
        <p>Entity Framework</p> 
        <span>Conta administrador: admin123</span>
        <p>Password: admin123</p>
        <span>Exemplo de conta de utilizador: josesilva</span>
        <p>Password: josesilva123</p>
    </div>
</div>
