@model AsMinhasReviews.Models.Reviews

@{
    ViewData["Title"] = "Editar review";
}
@if (User.IsInRole("Administrador") || User.Identity.Name == Model.Criador.Nome)
{
<h1>Editar review</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Conteudo" class="control-label"></label>
                <textarea asp-for="Conteudo" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Conteudo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div style="visibility:hidden;height:0px;" class="form-group">
                <label style="visibility:hidden;height:0px;" asp-for="JogoFK" class="control-label"></label>
                <select style="visibility:hidden;height:0px;" asp-for="JogoFK" class="form-control" asp-items="ViewBag.JogoFK"></select>
                <span asp-validation-for="JogoFK" class="text-danger"></span>
            </div>
            <div style="visibility:hidden;height:0px;" class="form-group">
                <label style="visibility:hidden;height:0px;" asp-for="CriadorFK" class="control-label"></label>
                <select style="visibility:hidden;height:0px;" asp-for="CriadorFK" class="form-control" asp-items="ViewBag.CriadorFK"></select>
                <span asp-validation-for="CriadorFK" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
}
else
{
    <p>A remoção da review é reservada apenas ao seu criador.</p>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}