@model SiteReviews.Models.Utilizadores

@{
    ViewData["Title"] = "Editar utilizador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar utilizador</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <input type="hidden" asp-for="Fotografia"/>
            <div class="form-group">
                <label asp-for="NomeUtilizador" class="control-label">Nome de Utilizador</label>
                <input asp-for="NomeUtilizador" class="form-control" />
                <span asp-validation-for="NomeUtilizador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label">Data de nascimento</label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fotografia" class="control-label"></label>
                <input type="file" name="fotoUser" class="form-control" accept=".jpg,.png" />
            </div>
            <div class="form-group">
                <label asp-for="admin" class="control-label">Admin</label>
                <input asp-for="admin" class="form-control" />
                <span asp-validation-for="admin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
